#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: medium;
}

p {
  font-size: small;
}

.sketch {
  border: 1px;
  border-radius: 1%;
  border-style: dashed;
  border-color: lightslategray;
  padding: 10px;
}
