:root {
  font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-Regular.eot');
    src: url('JetBrainsMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('JetBrainsMono-Regular.woff2') format('woff2'),
        url('JetBrainsMono-Regular.woff') format('woff'),
        url('JetBrainsMono-Regular.ttf') format('truetype'),
        url('JetBrainsMono-Regular.svg#JetBrainsMono-Regular') format('svg');
  
  font-size: 15px; 
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 50vh;
}

